.container
  .tabs
    .tabs_item.active
      新着記事一覧
    .tabs_item
      タイムライン
  - @articles.each do |article|
    = link_to article_path(article) do
      .card
        .card_image
          = image_tag 'eyecatch1.png'
        .card_content
          .card_title
            = article.title
          .card_heart
            = image_tag 'heart.svg'
            %span 23
          .card_detail
            = image_tag 'default-avatar.png'
            %div
              %p cohki0305
              %p 2020/4/16
  = link_to new_article_path do
    .float_btn
      %i.fa.fa-plus
